* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrap{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
}
#fileName {
    display: none;
}

#customFileUpload {
    display: inline-block;
    width: 400px;
    height: 200px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border-radius: 4px;
    border: dashed black 10px;
    transition: 0.5s;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    margin-top: 5%;
    font-weight: 400;
}

#customFileUpload:hover {
    transform: scale(1.02);
}


.topUI{
    width: 100%;
    height: 5%;
    background-color: rgba(0, 0, 0, 0.158);
    display: flex;
    align-items: center;
}
.logoContainer{
    width: 100px;
    height: 20px;
    background-color: rgb(124, 124, 124);
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
#heartFont{
    margin: 2px; 
    padding: 1px; 
}


#textFile{
    color: black;
    transition: 0.5s;
    margin-top: 1%;
    font-size: 400%;
    font-weight: 700;
}
#href{
    margin-left: 7%;
    color: rgb(124, 124, 124);
    display: flex;
    transition: 0.5s;
}

#reload{
    width: 30px;
    height: 30px;
    background-color: rgb(124, 124, 124);
    border: 5px solid rgb(124, 124, 124);
    border-radius: 50%;
    margin-left: 2%;
    transition: 0.4s;
    cursor: pointer;
}
#reload:hover{
    transform: scale(1.09);
}
#contant{
    width: 1.5%;
    height: 55%;
    background-color: rgb(124, 124, 124);
    border: 5px solid rgb(124, 124, 124);
    border-radius: 50%;
    margin-left: 0.7%;
    transition: 0.4s;
    cursor: pointer;
}
#contant:hover{
    transform: scale(1.09);
}
#valueText{
    color: black;
    margin-top: 5%;
    font-size: 200%;
    font-weight: 600;
}
span.valueSpan{
    color: brown;
}




#isDarkBTN{
    width: 50px;
    height: 20px;
    border: #313131 solid 1px;
    border-radius: 55px;
    background-color: #313131;
    display: flex;
    margin-left: 60%;
    justify-content: start;
    transition: 1s;
    cursor: pointer;
}
#switchBox{
    width: 35%;
    height: 90%;
    border-radius: 50%;
    background-color: #000;
    margin-top: 0.87%;
    margin-left: 2%;
    display: flex;
    transition: 1s;
}
